<h1 style="text-align: center">Guided Walkthrough</h1>

<p class="overview" id="explain" style="text-align: center">Welcome to EDGEGATE, would you like a guided walkhrough the user interface?</p>

<div id="btns" style="text-align: center">
  <button onclick="noGuided()">No</button>
  <button onclick="startGuided()">Yes</button>
</div>

<div id="nextBtn" style="text-align: center">
  <button onclick="startGuided()">Next</button>
</div>

<script src="/js/help.js"></script>