<h1 class="text-center">Projects</h1>
<div class="list-group">
  {{#each projects}}
   <a href="projects/details?id={{id}}" class="list-group-item list-group-item-action">{{title}}</a>
   {{/each}}
</div>
